/*.general_container{
    display: grid; 
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "aside products products"
    "form products products"
    "form products products";
}
*/

body{
    padding: 0;
    margin:0;
    text-align: center;
}
#show_products{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: products;

}

/* each category received by the web api will be applied this rule */
.show_products_figure{
    background-color:  #fbfbfb;
    border-radius: 20px;
    margin:10px;
    padding: 10px;
    width: 25em;
    box-shadow: 0px 2px 5px #777;
    text-align: center;
    margin-left: 20px;
}

.inputbox{
    display: flex; 
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.inputbox input{
    width:75%;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #777;
}

#products-aside{
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-flex; 
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 5px;
    font-size: x-large;
    
}
#products-aside input{
    display: none;
    
}
#products-aside label{
    padding:8px 14px;
    background-color: #c7c7c7dd;
    
}
#products-aside label:hover{
    cursor: pointer;
    font-weight: bold;
}
#register_form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    box-shadow: 0px 2px 5px #777;
    background-color: #ffffff;
    width: 500px;
    margin-bottom: 20px;
    border-radius: 15px;
    
}
fieldset{
    border:0;
}

button{
    margin-top: 10px;
    text-align: center;
    width: fit-content;
    align-self: center;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid #646464;
    font-size: large;
    padding: 10px 20px;
    transition: 0.8s;
}
button:hover{
    cursor: pointer;
}
.show_products_figure figcaption{
    background-color: #c7c7c7dd;
    border-radius: 10px;
    max-width: 100%;
    padding: 10px;
    box-shadow: 0px 2px 5px #777; 
}

.show_products_figure h2{
    max-width: 100%;
}

.show_products_figure img{
    max-width: 100%;
}

